@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* CONFIGURAÇÃO TEXTO SEÇÃO PRINCIPAL */

.hero__content{
    padding-top:80px ;
    
}
.paragraph{
    font-size: 20px;
    text-align: justify;
    font-family: 'Mulish', sans-serif;
}

.heading{
   margin-top: 100px;
    font-weight: 600;
    font-size: 80px;
   /*  font-family: 'Mulish', sans-serif; */
    color: #35009e;
    font-family: 'Cookie', cursive;
    letter-spacing: 4px;
    
}

/* CONFIGURAÇÃO FOTO PRINCIPAL HERO SECTION  */
.foto{
    background-image: url('/images/FotoHome1.png');
  background-repeat: no-repeat;
  background-position: center;
}

  