

.hero__content{
    padding-top:80px ;
    
}
.hero__content p{
    font-size: 20px;
    text-align: justify;
    font-family: 'Mulish', sans-serif;
}

.hero__content h2 {
   margin-top: 100px;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Mulish', sans-serif;
    color: #8c52ff;
    text-transform: uppercase;
}

.btn-home{
    border-radius: 20px;
    border: none;
    color: aliceblue;
    background-color: #8c52ff;
    width: 160px;
    height: 55px;
    font-size: 20px;
}

.foto{
    background-image: url('/images/FotoHome1.png');
  background-repeat: no-repeat;
  background-position: center;
}

  
/* #cb6ce6 */