.button {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.purple {
  background-color: #35009e;
  color: white;
}

.purple:hover {
  background-color: #280177;
  color: rgb(255, 255, 255);
}