.main_footer {
    color: aliceblue;
    background-color: #35009e;
    ;
    padding-top: 3rem;
    width: 100%;
    font-family: 'Mulish', sans-serif;
}



.p_footer {
    text-align: center;


}

.list_footer li {
    list-style: none;
}


.list_footer hr {
    border-bottom: 1px solid #cb6ce6;
}

.form form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #cb6ce6;
    margin-bottom: 50px;
}

.form i {
    font-size: 18px;
}

.form input {
    width: 70%;
    height: 33.2px;
    border-radius: 4px;
    border: 0;
    outline: none;

}


.btn_form {
    font-size: 18px;

    width: 45px;
    color: #000000;

    background-color: #ffffff;
    margin-left: -28px;
    border-radius: 10%;

}


.social_icons i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: aliceblue;
    margin-right: 15px;
    cursor: pointer;
    align-items: center;

}


.ctt_footer {
    font-size: 20px;
    color: aliceblue;
}

.text_area {
    resize: none;
    margin-top: 2px;
    border: none;
    border-radius: 5px;
    outline: none;
}