.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.info {
    max-width: 400px;
}

.photo {
    width: 200px;
    margin-top: -5rem;
    pointer-events: none;
  
}

.photo img {
    width: 100%;
    height: auto;
}