/*--config container--*/
.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    padding-top: 70px;
  }
  /*--fim config container--*/
  .total{
    background-color: #35009e;
  }
  /*--config title--*/
  h1.title{
    font-size: 3rem;
    color: #8c52ff;
    margin-bottom: 20px;
  }
  /*--fim config title--*/
  
  /*--config counter--*/
  p.count{
    font-size: 2rem;
    margin-bottom: 30px;
  }
  button.count{
    font-size: 1.2rem;
    background-color: #8c52ff;
    color: #f7f7f7;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: .3s;
  }
  button.count:hover{
    background-color: rgb(127, 0, 247);
  }
  /*--fim config counter--*/
  
  /*--config link--*/
  a.link{
    font-size: 1.1rem;
    color: #8c52ff;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    transition: .3s;
  }
  a.link:hover{
    text-decoration: underline;
  }
  /*--fim config link--*/
  .hr{
    color: #fff;
  }